p {
  font-family: Roboto;

}

.youtube-link-button {
  background-color: rgb(224, 57, 57);
  color: white;
  border: none;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5;
  padding-bottom: 5;
}

.Amazon-add-button {
  background-color: rgb(90, 90, 207);
  color: white;
  border: none;
}

.Amazon-buy-button {
  background-color: rgb(113, 225, 113);
  color: white;
  border: none;
}